.month-header {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.month-header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.arrow {
    font-size: 2rem;
    text-decoration: none;
    color: #2c3e50;
    cursor: pointer;
    transition: color 0.2s;
    font-size: 2rem;
    border: none;
    background: none;
}

.arrow:hover {
    color: #2980b9;
}


