body {
    font-family: 'Roboto', sans-serif;
    background-color: ghostwhite;
    margin: 40px;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-top: 40px;
}

h2 {
    color: #2c3e50;
}

button:not(.arrow):hover {
    background-color: #2980b9;
}

.hidden {
    display: none;
}


.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1001;
}