body {
    font-family: 'Roboto', sans-serif;
    background-color: ghostwhite;
    margin: 40px;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-top: 40px;
}

h2 {
    color: #2c3e50;
}

button:not(.arrow):hover {
    background-color: #2980b9;
}