.tables-container {
    display: flex;          /* Flexbox aktivieren */
    gap: 20px;              /* Abstand zwischen Tabellen */
    justify-content: center; /* Tabellen mittig ausrichten */
}

.diff {
    text-align: center;   /* Inhalt zentrieren */
    margin-top:15px;
    font-weight: bold;
    font-size: 1.1rem;    /* leicht größer, damit es hervorsticht */
}